.idea/workspace.xml
out/
Engine/gen/
Engine/.idea/workspace.xml
SGIFramework/target
SGISite/target
.directory
deploy/deployproject.xml
deploy/local
*/gen/*
Base/res/
Tafat.language
dsl/Tafat.reload
dsl/Tafat/
.tara/
.idea/libraries/Maven__com_esotericsoftware_minlog_1_3_0.xml
.idea/libraries/
