.idea/workspace.xml
out/
*/gen/
*/test-gen/
Engine/.idea/workspace.xml
SGIFramework/target
SGISite/target
.directory
deploy/deployproject.xml
deploy/local
*/gen/*
Base/res/
Tafat.language
dsl/Tafat.reload
dsl/Tafat/
.tara/
.idea/libraries/
site/node_modules/
site/dist/
site/bower_components/
site/.tmp/
