{
  "plugins": [ "html" ],
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "$": true,
    "Polymer": true,
    "PushService": true,
    "CottonBehaviors": true,
    "TafatBehaviors": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "semi": 2,
    "quotes": [2, "single"],
    "eqeqeq": [2, "smart"]
  }
}
